.container{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
}
.container-child{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.icon{
    margin: 30px;
}
.button{
    margin-bottom: 30px;
    background-color: red;
}